In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
# 데이터 불러오기
df = pd.read_csv('20250618_175248_diabetes.csv')

In [3]:
# 데이터 정보 확인
# NaN 값 없음
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [4]:
# 데이터 구조 확인
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
# 데이터 통계 요약 정보 확인
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
# 결측치 처리
# 0을 결측치로 간주
with_zeros = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']
for col in with_zeros :
    df[col] = df[col].replace(0, np.nan)

In [7]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [8]:
# 결측치를 평균으로 대체
for col in with_zeros :
    df[col] = df[col].fillna(df[col].mean())

df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31,0
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1

In [9]:
# 이상치 처리
# 상위 1%를 이상치로 간주하고 평균으로 대체
outliers_col = ['SkinThickness', 'Insulin']
for col in outliers_col :
    threshold = df[col].quantile(0.99)      # 상위 1% -> 하위 99% 경계값
    without_threshold_mean = df[df[col] <= threshold][col].mean()       # 상위 1%를 제외한 평균
    df.loc[df[col] > threshold, col] = without_threshold_mean           # 제외한 평균으로 대체

In [10]:
# 정규화
scaler = MinMaxScaler()
df['Age'] = scaler.fit_transform(df[['Age']])

In [11]:
# EDA == 탐색적 데이터 분석
# 각 열의 결측치 개수 출력
print('각 열의 결측치 개수 : ')
print(df.isnull().sum())
print('='*50)
print()

# Outcome 별 Glucose 평균 출력
print('Outcome 별 Glucose 평균 : ')
print(df.groupby('Outcome')['Glucose'].mean())
print('='*50)
print()

# 전처리 후 데이터프레임 상위 5개 행 출력
print('데이터프레임 상위 5개 : ')
print(df.head())
print('='*50)
print()

각 열의 결측치 개수 :
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64
==================================================

Outcome 별 Glucose 평균 :
Outcome
0    110.710121
1    142.165573
Name: Glucose, dtype: float64
==================================================

데이터프레임 상위 5개 :
   Pregnancies  Glucose  BloodPressure  SkinThickness     Insulin   BMI  \
0            6    148.0           72.0       35.00000  155.548223  33.6
1            1     85.0           66.0       29.00000  155.548223  26.6
2            8    183.0           64.0       29.15342  155.548223  23.3
3            1     89.0           66.0       23.00000   94.000000  28.1
4            0    137.0           40.0       35.00000  168.000000  43.1

   DiabetesPedigreeFunction       Age  Outcome
0                     0.627  0.483333        1
1                     0.351  0.166667        0
2                     0.672  0.183333        1
3                     0.167  0.000000        0
4                     2.288  0.200000        1
==================================================